@import '@shared/tailwind-config/base.css';

@source "../..";

@theme {
  --color-bgColor: #fff;
  --color-textColor: #222222;
  --color-textSecondaryColor: #666666;
  --color-primaryColor: #4f46e5;
  --color-primaryLightColor: #e4e1ff;
  --color-primary2Color: #ff0765;
  --color-primary2LightColor: #ffe6f0;
  --spacing-sectionBase: var(--section-margin-base);
  --spacing-sectionLarge: var(--section-margin-large);
}

:root {
  --section-margin-base: 24px;
  --section-margin-large: 72px;
  --section-padding-base: 16px;
  --section-padding-large: 72px;
}

.light {
  --color-bgColor: #fff;
  --color-textColor: #222222;
  --color-textSecondaryColor: #666666;
  --color-primaryColor: #4f46e5;
  --color-primaryLightColor: #e4e1ff;
  --color-primary2Color: #ff0765;
  --color-primary2LightColor: #ffe6f0;
}

.dark {
  --color-bgColor: #222222;
  --color-textColor: #f6f6f6;
  --color-textSecondaryColor: #999999;
  --color-primaryColor: #4f46e5;
  --color-primaryLightColor: #e4e1ff;
  --color-primary2Color: #ff0765;
  --color-primary2LightColor: #ffe6f0;
}

.light-gray {
  --color-bgColor: #f6f6f6;
  --color-textColor: #222222;
  --color-textSecondaryColor: #666666;
  --color-primaryColor: #4f46e5;
  --color-primaryLightColor: #e4e1ff;
  --color-primary2Color: #ff0765;
  --color-primary2LightColor: #ffe6f0;
}

.dark-gray {
  --color-bgColor: #5b5b5b;
  --color-textColor: #f6f6f6;
  --color-textSecondaryColor: #bababa;
  --color-primaryColor: #4f46e5;
  --color-primaryLightColor: #e4e1ff;
  --color-primary2Color: #ff0765;
  --color-primary2LightColor: #ffe6f0;
}

@theme {
  --color-error: oklch(0.577 0.245 27.325);
  --color-success: oklch(0.6 0.15 145);
  --color-warning: oklch(0.75 0.15 85);
}

.prose {
  --tw-prose-body: var(--color-textColor);
  --tw-prose-headings: var(--color-textColor);
  --tw-prose-lead: var(--color-textSecondaryColor);
  --tw-prose-bold: var(--color-textColor);
  --tw-prose-links: var(--color-primaryColor);
  --tw-prose-counters: var(--color-textSecondaryColor);
  --tw-prose-bullets: var(--color-textSecondaryColor);
  --tw-prose-quotes: var(--color-textColor);
  --tw-prose-code: var(--color-textColor);
}

.testimonials-carousel:hover .testimonials-carousel-group {
  animation-play-state: paused;
}

.testimonials-carousel-group {
  animation: testimonials-carousel-scrolling var(--testimonials-carousel-duration, 60s) linear
    infinite;
}

@keyframes testimonials-carousel-scrolling {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
